.background_cover {
    background-image: url('../../images/light-patten.svg');
    background-attachment: fixed;
    background-size: cover;
}

.product_card :hover {

    cursor: pointer !important;

}

.wish-list {
    background-color: rgb(241, 232, 232);
    border-radius: 5px;
    padding: 3px;
    left: 10px;
    top: 20px;
}

