.background {
    background-image: url("../../images/light-patten.svg");
    background-size: cover;

}

.title {
    font-weight: bold;
    font-size: 40px;
    color: rgb(19, 168, 19);
}


@media (max-width: 768px) {
    .container {
        width: 80% !important;
        margin: 0 auto !important;
        box-sizing: border-box !important;
    }

    .section {
        width: 90% !important;
        /* Adjust width for smaller screens */
        margin: 20px auto !important;
        /* Reduce margins on smaller screens */
        padding: 30px;
        /* Adjust padding for smaller screens */
    }

    .w50 {
        width: 100% !important;
    
    }
}

@media (max-width: 600px) {
    .w50 {
        width: 100% !important;
    }

}